NCD_Web/Service References/NCD_Service/Search1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53675/Search.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NCD_WebService" />
  <xs:element name="GetCriminalPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NCD_WebService" minOccurs="0" name="searchParams" nillable="true" type="q1:SearchParams" />
        <xs:element minOccurs="0" name="maxItems" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriminalPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NCD_WebService" minOccurs="0" name="GetCriminalPersonsResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>