NCD_Web/Service References/NCD_Service/Search3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NCD_WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NCD_WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53675/Search.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SearchParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndAge" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="EndHeight" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="EndWeight" nillable="true" type="xs:unsignedShort" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Names" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Nationality" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartAge" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StartHeight" nillable="true" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="StartWeight" nillable="true" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchParams" nillable="true" type="tns:SearchParams" />
</xs:schema>